.list-product {
  display: flex;
  gap: 20px;
}
.thumb {
  height: 100%;
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 10px;
  box-shadow: 0 3px 20px #000;
  border-radius: 5px;
  flex-direction: column;
  z-index: 3;
}
.thumb img {
  width: 100%;
  object-fit: cover;
}
.thumb h3 {
  font-size: 16px;
  margin: 10px 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.thumb .product-actions {
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.1);
  border-radius: 0 0 2px 2px;
  z-index: 9;
  padding: 7px 18px 18px;
}
.thumb .product-actions button{
    margin-top: 5px;
    line-height: 44px;
    width: 100%;
}
.thumb .add-to-cart {
  left: 0;
  bottom: 0;
}
.thumb .view-more {
  bottom: 20px;
  right: 0;
}
.thumb button {
  border: unset;transition: all .5s ease-in-out; background-color: var(--primary-color);}
.thumb button:hover {
  background-color: var(--logo-primary-color);
}
.sale {
  position: absolute;
  right: 10px;
  background-color: red;
  top: 10px;
  color: #fff;
}
.product-card .col .thumb {
  width: calc(20% - 20px);
}

@media (max-width: 1500px) {
  .thumb {
    width: calc(25% - 20px);
  }
  .container {
    width: 100%;
  }
}
@media (max-width: 1270px) {
  .thumb {
    width: calc(33% - 20px);
  }
}
@media (max-width: 992px) {
  .thumb {
    width: calc(50% - 20px);
  }
}
@media (max-width: 576px) {
  .thumb {
    width: calc(100% - 20px);
  }
}
