.thumb-payment{
    margin-top: 20px;
    padding: 20px 10px;
    background-color: var(--background-button-color);
    border: 1px solid white
}
.thumb-payment .nav-pills .nav-link.active{
    background-color: var(--primary-color);
}